<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 col-lg-2 wow fadeIn order-2 order-md-first">
                <ul class="footer__links">
                    <li class="title">
                        O IBER
                    </li>
                    <li>
                        <a href="#">
                            Diretoria
                        </a>

                    </li>

                    <li>

                        <a href="#">
                            Estrutura
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Onde Atuamos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 col-lg-2 mb-lg-0  wow fadeIn">
                <ul class="footer__links">
                    <li class="title">
                        Serviços
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Selo IBER
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Plano de associação
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Declaração de Adesão
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Certificação PNRS
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Atendimento
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Representividade
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 col-lg-2  wow fadeIn order-3">
                <ul class="footer__links">
                    <li class="title d-none d-md-block" style="opacity: 0">
                        .
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            MTR
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Cadri
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Estatísticas do setor
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            APP Varejo
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Plataforma de Gestão /
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-underline">
                            Relatórios
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3 col-lg-2  wow fadeIn order-4">
                <ul class="footer__links">
                    <li class="title">
                        Outros
                    </li>
                    <li>
                        <a href="#">
                            Parceiros
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Associados
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Legislação
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Eventos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contato
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 d-flex align-items-center order-last">
                <div class="footer__right">
                    <a href="#" class="color-white d-block mb-2 wow fadeInUp">
                        Validar certificado / Selo
                    </a>

                    <a href="#" class="btn-cprimary py-2 px-4 d-block mb-2  wow fadeInUp" data-wow-delay="0.2s">
                        Solicitar a destinação
                    </a>
                    <a href="#" class="btn-csecondary py-2 px-4 d-block mb-3 wow fadeInUp" data-wow-delay="0.3s">
                        Área restrita
                    </a>

                    <p class="footer__copyright wow fadeInUp" data-wow-delay="0.2s">
                        © 2010-2019 - IBER Brasil - Todos os direitos reservados
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>