.associacao {
    background-image: url(../images/backgrounds/bg-interna2.png);
    padding: 180px 0 90px;

    @media screen and (max-width: $bp-LG) {
        padding: 100px 0 40px;
    }

    .interna-sobre{
        &__header{
            .title{
                @media screen and (max-width: $bp-LG){
                    font-size: 26px;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;

        @media screen and (max-width: $bp-LG) {
            flex-direction: column;
            margin-bottom: 40px;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 48%;

            @media screen and (max-width: $bp-XL) {
                width: 62%;
            }

            @media screen and (max-width: $bp-LG) {
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            &.right {
                order: 2;
            }

            @media screen and (max-width: $bp-LG) {
                order: 1;
            }
        }

        .number {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 185px;
            height: 185px;
            border-radius: 50%;
            background-color: #30959F;
            font-size: 75px;
            font-weight: bold;
            color: #fff;
            margin-right: 30px;
            flex-shrink: 0;
            @media screen and (max-width: $bp-LG) {
                margin-right: 0;
                margin-bottom: 20px;
                width: 150px;
                height: 150px;
            }
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 108%;
                height: 108%;
                border: 1.7px dashed #30959F;
                border-radius: 50%;
                pointer-events: none;
            }
        }

        .caption {
            display: flex;
            flex-direction: column;
            flex: 1;

            .title {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                color: #30959F;
                margin-bottom: 3px;
            }

            .desc {
                font-size: 16px;
                color: #707070;
            }
        }

        .line {
            display: block;
            width: 45%;
            background-color: #30959F;
            height: 0.5px;
            @media screen and (max-width: $bp-XL) {
                width: 30%;
            }
            @media screen and (max-width: $bp-LG) {
                width: 80%;
                margin: 0 auto;
                order: 3;
                margin-top: 20px;
            }
        }
    }
}
