.banner-folha{
    position: relative;
    padding-bottom: 260px;
    background: #fff;
    
    @media screen and (max-width: $bp-MD){
        padding-bottom: 130px;
    }
    
    &__caption{

        @media screen and (max-width: $bp-LG){
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        
        .inner-title{
            color: #7DA04C;
            font-size: 32px;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 90px;
            margin-bottom: 30px;
        }

        .inner-desc{
            color: #707070;
            font-weight: 400;
            font-size: 21px;
            max-width: 500px;

            @media screen and (max-width: $bp-MD){
                font-size: 19px;
            }
            
            p{
                margin-bottom: 30px;
            }
        }

        @media screen and (max-width: $bp-LG){
            padding-top: 60px;
        }
    }

    &__bg{
        position: absolute;
        top: 0;
        right: -460px;
        width: 1400px;

        @media screen and (max-width: 1300px){
            width: 1250px;
            right: -400px;
        }

        @media screen and (max-width: $bp-XL){
            width: 1000px;
            right: -400px;
        }

        @media screen and (max-width: $bp-LG){
            position: absolute;
            top: 0;
            right: 0;
            width: 500px;
            margin-bottom: -110px;
        }

        @media screen and (max-width: $bp-SM){
            position: absolute;
            top: 0;
            right: -31px;
            width: 400px;
            margin-bottom: -110px;
        }
    }
}