.conheca {
    position: relative;
    background-color: #F4F4F4;
    padding-bottom: 60px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 363px;
        height: 140px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../images/backgrounds/bottom-times.png");
        @media screen and (max-width: $bp-MD) {
            width: 200px;
            height: 80px;
        }
    }

    &__header {
        padding-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .inner-title {
            font-size: 32px;
            color: #7DA04C;
            text-transform: uppercase;
            font-weight: bold;
            @media screen and (max-width: $bp-MD) {
                font-size: 28px;
            }
        }

        .inner-desc {
            font-size: 24px;
            color: #707070;
            margin: 0 auto;
            max-width: 640px;
            text-align: center;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 40px;
            @media screen and (max-width: $bp-MD) {
                font-size: 19px;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 213px;
        height: 213px;
        border-radius: 50%;
        background-color: #30959F;

        @media screen and (max-width: $bp-XL) {
            width: 170px;
            height: 170px;
        }
        @media screen and (max-width: $bp-LG) {
            width: 160px;
            height: 160px;
            margin-bottom: 100px;
        }
        @media screen and (max-width: $bp-MD) {
            width: 180px;
            height: 180px;
            margin-bottom: 90px;
        }

        &-icon {
            display: flex;
            justify-content: center;
        }

        img {
            @media screen and (max-width: $bp-XL) {
                width: 80%;
                height: 100%;
                object-fit: center;
                object-position: center center;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 108%;
            height: 108%;
            border: 1.7px dashed #30959F;
            border-radius: 50%;
            pointer-events: none;
        }

        &-title {
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            max-width: 126px;
            padding-top: 5px;
        }

        &-battery {
            position: absolute;
            right: -38%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;

            @media screen and (max-width: $bp-XL) {
                right: -30%;
            }
            @media screen and (max-width: $bp-LG) {
                right: -34%;
            }
            @media screen and (max-width: $bp-MD) {
                right: unset;
                bottom: -40%;
                margin-bottom: 0;
            }

            .battery {
                width: 44px;
                margin-bottom: 13px;
                @media screen and (max-width: $bp-XL) {
                    width: 34px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-bottom: 4px;
                }

            }

            .arrow {
                width: 44px;
                @media screen and (max-width: $bp-XL) {
                    width: 34px;
                }
                @media screen and (max-width: $bp-MD) {
                    margin-bottom: 4px;
                }
            }
        }
    }

    &__carousel {
        margin-bottom: 20px;

        @media screen and (max-width: $bp-LG){
            padding: 0 40px;
        }

        @media screen and (min-width: $bp-LG) and (max-width: 1300px){
            max-width: 1000px;
            margin: 0 auto;
        }
    

        &-title {
            font-size: 32px;
            color: $color-secondary;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 30px;

            @media screen and (max-width: $bp-MD) {
                font-size: 28px;
                margin-top: -20px;
                margin-bottom: 30px;
            }
        }

        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

        .owl-nav{
            .owl-prev, .owl-next{
                display: flex !important;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 45.6%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background-color: $color-secondary !important;
                color: #fff !important;
                border-radius: 4px;
                font-size: 20px;
                @include transition();

                &:hover{
                    background-color: darken($color-secondary, 4);
                    transform: scale(1.04) translateY(-50%);
                }

                &::after, &::before{
                    display: none !important;
                }

                i{
                    font-size: 12px;
                }
            }
        
            .owl-prev{
                left: -40px;

                @media screen and (max-width: $bp-LG){
                   left: 5px;
                }

                @media screen and (max-width: $bp-MD){
                    left: 10px;
                 }
            }

            .owl-next{
                right: -40px;

                @media screen and (max-width: $bp-LG){
                    right: 5px;
                 }
                @media screen and (max-width: $bp-MD){
                    right: 10px;
                 }
            }
        }
    }
}
