.home-banner{

    &__caption{
        position: absolute;
        top: 0;
        pointer-events: none;
        opacity: 0;
    }

    img{
        width: 100%;

        @media screen and (max-width: $bp-MD){
            width: 160%;
        }
    }
}