.interna-sobre{
    position: relative;
    display: flex;
    justify-content: stretch;
    padding-top: 100px;
    min-height: 100vh;
    
    @media screen and (max-width: $bp-LG){
        flex-direction: column;
    }
    
    &__header{
        .subtitle{
            color: #707070;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        
        .title{
            font-size: 32px;
            text-transform: uppercase;
            font-weight: bold;
            color: #7DA04C;
            margin-bottom: 24px;
            
            @media screen and (max-width: $bp-LG){
                margin-bottom: 20px;
            }
        }
    }
    
    &__content{
        display: flex;
        justify-content: flex-end;
        padding-right: 140px;
        padding-left: 50px;
        padding-top: 85px;
        padding-bottom: 40px;
        width: 50%;
        background-image: url(../../images/backgrounds/bg-interna.png);
        background-size: cover;
        
        & > div {
            max-width: 523px;
        }

        @media screen and (max-width: $bp-LG){
            justify-content: center;
            text-align: center;
            width: 100%;
            padding: 40px 16px;
        }
    }
    
    &__img{
        position: relative;
        z-index: 5;
        width: 50%;
        min-height: 692px;
        margin-bottom: -4px;
        flex-grow : 1;
        background-size: cover;
        
        @media screen and (max-width: $bp-LG){
            width: 100%;
            min-height: 400px;
        }
    }
}