.pg-interna {
    background-image: url(../images/backgrounds/bg-interna.png);
    background-size: cover;
    padding: 180px 0 20px 0;

    @media screen and (max-width: $bp-LG){
        padding: 100px 0 40px 0;
    }

    &__header{
        margin-bottom: 33px;

        @media screen and (max-width: $bp-LG){
            text-align: center;
        }

        .title{
            font-size: 32px;
            text-transform: uppercase;
            font-weight: bold;
            color: #7DA04C;
            margin-bottom: 29px;
        
            @media screen and (max-width: $bp-LG){
                margin-bottom: 20px;
            }
        }

        p{
            max-width: 503px;
        }
    }
}