.btn-cprimary{
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    padding: 11px 18px;
    background-color: #7DA04C;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    @include transition();

    &:hover{
        color: #fff;
        background-color: darken($color-primary, 4);
    }
}

.btn-csecondary{
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    padding: 11px 18px;
    background-color: $color-secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    @include transition();

    &:hover{
        color: #fff;
        background-color: darken($color-secondary, 4);
    }
}

.btn-cdark{
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    padding: 11px 18px;
    background-color: $color-dark;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    @include transition();

    &:hover{
        color: #fff;
        background-color: darken($color-secondary, 4);
    }
}

.btn-outline-white{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    padding: 13px 60px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    @include transition();

    @media screen and (max-width: $bp-XL){
        padding: 10px 40px;
    }

    &:hover{
        background-color: #fff;
        color: $color-dark;
    }
}
.btn-transparent{
    display: flex;
    align-items: center;
    background: none !important;
    padding: 0;
    padding-bottom: 5px;
    border: none !important;

    i{
        margin-left: 7px;
        font-size: 13px;
    }
}