.form-control {
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    border: none;
    padding: 10px 14px;
    color: #707070;
    font-weight: 400;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.20);
    
    &:focus {
        outline: none;
        box-shadow: 0px 3px 6px rgba(0,0,0,.20);
        color: #383838;
    }

    &[type="password"] {
        font-size: 35px;
        line-height: 20px;
        letter-spacing: -2px;
        padding: 2.8px 14px;
    }

    &.error {
        border-color: rgb(224, 119, 119);
    }

}

select.form-control{
    height: 43px !important;
}

.form-group {
    label {
        display: block;
        color: #909090;
        font-size: 15px;
        margin-bottom: 3px;
    }

    label.error {
        color: rgb(224, 119, 119);
        font-size: 13px;
        margin-top: 4px;
    }
}