.footer {
    background-color: #2A2A2A;
    padding: 40px 0;

    &__links {

        @media screen and (max-width: $bp-MD){
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li.title {
            color: #7DA04C !important;
            font-weight: bold;
            font-size: 15px;
        }

        li {
            margin-bottom: 8px;
        }
        li,
        li a {
            color: #fff !important;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-self: center;
        padding-top: 20px;

        @media screen and (max-width: $bp-LG) {
            padding-top: 40px;
            align-items: center;
        }
    }

    &__copyright {
        color: #FFFFFF;
        margin-top: 15px;
        text-align: right;
    }
}

.text-underline {
    text-decoration: underline !important;
}
