.associado-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin-bottom: 60px;
    padding: 32px 20px 57px 30px;

    a{
        display: block;
        position: absolute;
        left: 50%;
        bottom: -16px;
        transform: translateX(-50%);
        background-color: #7DA04C;
        color: #fff;
        padding: 6px 31px;
        text-transform: uppercase;
        border-radius: 4px;
        font-size: 12px;
        transition: all 0.4s;

        &:hover{
            transform: translateX(-50%) scale(1.04);
        }

    }

    img{
        width: 90%;
    }
}