.curso-card{
    position: relative;
    margin-bottom: 60px;
    @include transition();

    &:hover{
        @include scale(1.03);
    }

    @media screen and (max-width: $bp-MD){
        margin-bottom: 40px;
    }

    &__tag{
        position: absolute;
        left: 10px;
        top: -10px;
        background-color: #707070;
        padding: 3px 9px;
        text-transform: uppercase;
        border-radius: 8px;
        color: #fff;
        font-size: 12px;
    }  

    &__img{
        img{
            width: 100%;
            object-fit: cover;
            object-position: left top;

            @media screen and (min-width: $bp-MD){
                min-height: 309px;
            }
        }
    }

    &__caption{
        background-color: #fff;
        padding: 12px 18px;

        .name{
            color: #707070;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
        }
        
        .valor{
            font-size: 24px;
            color: #30959F;
        }
        
        .data{
            font-size: 24px;
            color: #7DA04C;
            margin-bottom: 0;
        }
    }
}